@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* Main colors of my web page */ /* Main colors of my web page */ /* Main colors of my web page 3/10 */
:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717da;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}
/* Main colors of my web page */ /* Main colors of my web page */ /* Main colors of my web page 3/10 */

/* Reset config web page */ /* Reset config web page */ /* Reset config web page 12/22 */
body,
html {
    background-color: var(--color-neutral-0);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Reset config web page */ /* Reset config web page */ /* Reset config web page 12/22 */

main {
    margin: 1% 8%;
}

/* starts navbar edit */ /* starts navbar edit */ /* starts navbar edit 28/92 */ 
.contain-navbar {
    background-color: var(--color-neutral-10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.contain-navbar .logo {
    cursor: pointer;
}

.contain-navbar .logo img {
    height: 70px;
    width: auto;
    transition: all 0.5s ease;
}

/* starts hover effect navbar */ /* starts hover effect navbar */ /* starts hover effect navbar 48/61 */
.contain-navbar .logo img:hover {
    transform: scale(1.1);
}

.contain-navbar .nav-links li:hover {
    transform: scale(1.1);
    transition: all 0.4s ease;
}

.contain-navbar .nav-links li a:hover {
    color: #4267b3;
}
/* ends hover effect navbar */ /* starts hover effect navbar */ /* starts hover effect navbar 48/61 */

.contain-navbar .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.contain-navbar .nav-links a {
    font-size: 700;
    color: white;
    text-decoration: none;
}

.contain-navbar .btn-nav button {
    font-weight: 700;
    color: #000000;
    padding: 8px 12px;
    margin: 2px;
    background: #eceff1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

.contain-navbar .btn-nav button:hover {
    background-color: #e2f1f8;
    color: #4267b3;
    transform: scale(1.1);
    transition: all 0.5s ease;
}
/* starts navbar edit */ /* starts navbar edit */ /* starts navbar edit 28/92 */

/* edit ends main */ /* edit ends main */ /* edit ends main 94/177*/

.contain-main {
    display: flex;
    flex-direction: column;
}

/* Medidas absolutas de imagenes y efectos de las cards */ /* Medidas absolutas de imagenes y efectos de las cards */ /* Medidas absolutas de imagenes y efectos de las cards 101/108 */
.contain-main .canales {
    width: 283px;
    height: 180px;
    margin: 1px;
    cursor: pointer;
}
/* Medidas absolutas de imagenes y efectos de las cards */ /* Medidas absolutas de imagenes y efectos de las cards */ /* Medidas absolutas de imagenes y efectos de las cards 101/108 */

.contain-main .canales:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.contain-main .pelis {
    width: 200px;
    height: 300px;
    margin: 1px;
    cursor: pointer;
}

.contain-main .circle {
    width: 200px;
    height: 180px;
    border-radius: 50%;
    cursor: pointer;
}

.contain-circle .circle:hover {
    transform: translateY(-10px);
    transition: all 0.5s ease;
}

.contain-circle {
    display: flex;
}

.contain-circle p {
    text-align: center;
    font-size: 18px;
    color: #e2f1f8;
}

.contain-main .pelis:hover {
    transform: translateY(-10px);
    transition: all 0.5s ease;
}

.contain-main .generos:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.contain-main .generos {
    width: 283px;
    height: 180px;
    margin: 1px;
    cursor: pointer;
}

.contain-main .originals {
    width: 283px;
    height: 180px;
    margin: 1px;
    cursor: pointer;
}

.contain-main .originals:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

h2 {
    margin: 1.5% 0 1% 0;
    color: white;
}
/* edit ends main */ /* edit ends main */ /* edit ends main 94/177*/

/* STYLE FOOTER STARTS 179/310 /*/
footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

.footer-content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

.footer-contacts h1 {
    margin-bottom: 0.75rem;
}

.footer-contacts img {
width: 210px;
height: auto;
}

.footer-social-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer-social-media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

.footer-social-media .footer-link i {
    font-size: 1.25rem;
}

  /* Aqui estoy añadiendo HOVER a algunos elementos de mi footer 226/239 */

.footer-social-media .footer-link:hover {
    opacity: 0.8;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

.input-group button:hover {
    opacity: 0.8;
}
  /* Aqui estoy añadiendo HOVER a algunos elementos de mi footer 226/239 */

#ig {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#fb {
    background-color: #4267b3;

}

#tw {
    background-color: #00a2ff;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.70rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-subscribe p {
    color: var(--color-neutral-30);
}

.input-group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-40);
    border-radius: 4px;
}

.input-group input {
    all: unset;
    padding: 0.70rem;
    width: 100%;
    color: var(--color-neutral-10)
}

.input-group button {
    background-color: #98bce5;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 1rem;
    padding: 1.5rem;
    font-weight: 100;
}
/* STYLE FOOTER ENDS 179/310 */